body {
    background-color: #333;
    color: #fff
}
.box1{
      width: 160px;
    height: 80px;
    background-color: yellow;
    color: black;
}
.box2{
    width: 60px;
    height:60px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    text-align: middle;
}
.box3{
    width: 150px;
    height:100px;
    background-color: blue;
    color:orange;
}
.box4{
    width: 180px;
    height:80px;
    background-color: red;
    color: black;
}
.box5{
    width:60px;
    height:30px;
    background-color: purple;
    color:aqua;
}
.box6{
    width:120px;
    height: 60px; 
    background-color: green;
    border: 5px solid black;
    font-size: small;
    padding: 10px;
}
.box7{
    width: 80px;
    height:80px;
    background-color: lightcyan;
    color:black;
    overflow: scroll;
}
.box8{
    width: 250px;
    height: 250px;
    color: black ;
    background-image: linear-gradient(blue, yellow)  ;
    text-align: left;
    list-style-position: inside;
    border: solid 5px red;
    border-radius: 10%;
}
.Wstep{
    color: white;
    text-align: center;
}
.Guzik:hover{
background-color: aqua;
}